<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

<h1 class="h1">Klient</h1>
<h2 class="display-5">{{ owner }}</h2>

<table class="table table-striped">
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Species</th>
        <th>Age</th>
        <th>Details</th>
    </tr>

    {% set aniNum = 1 %}

    {% for animal in animals %}
        <tr>
            <td>{{ aniNum }}</td>
            <td>{{ animal.name }}</td>
            <td>{{ animal.species }}</td>
            <td>{{ animal.age }}</td>
            <td><a href="/animal/{{ animal.id }}" class="btn btn-outline-info">More</a></td>
        </tr>
        {% set aniNum = aniNum + 1 %}
    {% endfor %}
</table>